{% extends 'base.html' %} {% load static %} {% block content %}

<style>
  #tree-list ul {
    list-style-type: none;
  }

  #tree-list ul {
    padding-left: 20px;
  }
  #tree-list > ul {
    margin: 0;
    padding: 0;
  }

  #tree-list li::before {
    content: '\25B6';
    margin-right: 5px;
    display: inline-block;
    transform: rotate(90deg);
  }

  #tree-list li.closed::before {
    transform: rotate(0deg);
  }

  #custom-menu {
    display: none;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 8px;
    position: absolute;
  }

  .table-KA {
    border-collapse: collapse;
    width: 30%;
  }

  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }

  th {
    background-color: #f2f2f2;
  }

  td {
    cursor: pointer;
  }
</style>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'page' %}">首页</a></li>
    <li class="breadcrumb-item active">矿山信息库</li>
    <li class="breadcrumb-item active" aria-current="page">露天采矿</li>
  </ol>
</nav>

<div class="row col-xl-12" style="flex: 1; gap: 20px">
  <div class="d-flex flex-column" style="width: 320px; padding-bottom: 20px">
    <div style="height: 100px">
      <h5 style="color: #000">> 爆破振动数据计算分析</h5>
      <h6
        style="
          color: #666;
          text-decoration: underline;
          text-underline-offset: 0.3em;
          text-decoration-thickness: 1px;
          margin-left: 23px;
        "
        id="panel-trigger-1"
      >
        爆破振动计算页面
      </h6>
      <h6
        style="
          color: #666;
          text-decoration: underline;
          text-underline-offset: 0.3em;
          text-decoration-thickness: 1px;
          margin-left: 23px;
        "
        id="panel-trigger-2"
      >
        爆破振动参数拟合计算页面
      </h6>
    </div>
    <div style="flex: 1; overflow: auto">
      <h5 style="color: #000">> 矿山现场试验结果记录</h5>
      <div
        class="w-100 row justify-between align-center"
        style="align-items: center; gap: 20px"
      >
        <h6 style="color: #666; margin-left: 33px">方案查看</h6>
        <button
          type="button"
          class="btn btn-sm btn-primary"
          data-toggle="modal"
          data-target="#myModal"
        >
          添加方案
        </button>
      </div>
      <div
        id="tree-list"
        style="margin-left: 16px; padding: 0; color: #999"
      ></div>
    </div>
  </div>
  <div style="width: 3px; height: 100%; background-color: #e9ecef"></div>
  <div style="flex: 1; margin-left: 30px">
    <embed
      id="pdf-panel"
      type="application/pdf"
      width="100%"
      height="100%"
      style="display: none"
    />
    <div id="effect-image" style="display: none" class="container">
      <div class="row">
        <div
          class="col-md-6"
          style="height: 250px; width: 300px; margin-bottom: 45px"
        >
          <h5>振动波形</h5>
          <img
            id="img1"
            alt="Image 1"
            class="img-fluid"
            style="height: 100%; width: 100%; object-fit: cover"
          />
          <span>爆破振动速度峰值(cm/s)：</span>
          <span id="v-1"></span>
        </div>
        <div
          class="col-md-6"
          style="height: 250px; width: 300px; margin-bottom: 45px"
        >
          <h5>损伤情况</h5>
          <img
            id="img2"
            alt="Image 2"
            class="img-fluid"
            style="height: 100%; width: 100%; object-fit: cover"
          />
        </div>
      </div>
      <div class="row mt-3">
        <div
          class="col-md-6"
          style="height: 250px; width: 300px; margin-bottom: 30px"
        >
          <h5>爆堆形态</h5>
          <img
            id="img3"
            alt="Image 3"
            class="img-fluid"
            style="height: 100%; width: 100%; object-fit: cover"
          />
        </div>
        <div
          class="col-md-6"
          style="height: 250px; width: 300px; margin-bottom: 30px"
        >
          <h5>壁面情况</h5>
          <img
            id="img4"
            alt="Image 4"
            class="img-fluid"
            style="height: 100%; width: 100%; object-fit: cover"
          />
        </div>
      </div>
      <button
        type="button"
        class="btn btn-sm btn-primary mt-3"
        data-toggle="modal"
        data-target="#myModal2"
      >
        添加效果
      </button>
    </div>
    <div id="panel-1">
      <div class="row" style="gap: 30px">
        <img style="max-width: 60%" src="/static/image/img.png" />
        <table class="table-KA" style="flex: 1">
          <thead>
            <tr>
              <th>标号</th>
              <th>K值</th>
              <th>α值</th>
              <th>操</th>
              <th>作</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td id="t-1-1"></td>
              <td id="t-1-2"></td>
              <th id="t-1-4"></th>
              <th id="t-1-3"></th>
            </tr>
            <tr>
              <td>2</td>
              <td id="t-2-1"></td>
              <td id="t-2-2"></td>
              <th>
                <button id="t-2-4" type="button" class="btn btn-sm">
                  选定
                </button>
              </th>
              <th>
                <button
                  id="t-2-3"
                  type="button"
                  class="btn btn-sm"
                  data-toggle="modal"
                  data-target="#myModal5"
                >
                  移除
                </button>
              </th>
            </tr>
            <tr>
              <td>3</td>
              <td id="t-3-1"></td>
              <td id="t-3-2"></td>
              <th>
                <button id="t-3-4" type="button" class="btn btn-sm">
                  选定
                </button>
              </th>
              <th>
                <button
                  id="t-3-3"
                  type="button"
                  class="btn btn-sm"
                  data-toggle="modal"
                  data-target="#myModal5"
                >
                  移除
                </button>
              </th>
            </tr>
            <tr>
              <td>4</td>
              <td id="t-4-1"></td>
              <td id="t-4-2"></td>
              <th>
                <button id="t-4-4" type="button" class="btn btn-sm">
                  选定
                </button>
              </th>
              <th>
                <button
                  id="t-4-3"
                  type="button"
                  class="btn btn-sm"
                  data-toggle="modal"
                  data-target="#myModal5"
                >
                  移除
                </button>
              </th>
            </tr>
            <tr>
              <td>5</td>
              <td id="t-5-1"></td>
              <td id="t-5-2"></td>
              <th>
                <button id="t-5-4" type="button" class="btn btn-sm">
                  选定
                </button>
              </th>
              <th>
                <button
                  id="t-5-3"
                  type="button"
                  class="btn btn-sm"
                  data-toggle="modal"
                  data-target="#myModal5"
                >
                  移除
                </button>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="display: flex; flex-direction: column; gap: 10px">
        <div class="row mt-3">
          <span>边坡系数：</span>
          <select id="filed">
            <option value="1">1分区</option>
            <option value="2">2分区</option>
            <option value="3">3分区</option>
            <option value="4">4分区</option>
            <option value="5">5分区</option>
            <option value="6">6分区</option>
            <option value="7">7分区</option>
            <option value="8">8分区</option>
          </select>
        </div>
        <div class="row" style="align-items: center; gap: 10px">
          <span>输入参数：</span>
          <span>K值</span>
          <input id="KValue" />
          <span>α值</span>
          <input id="AValue" />
          <button
            type="button"
            class="btn btn-sm btn-primary"
            data-toggle="modal"
            data-target="#myModal4"
          >
            插入
          </button>
        </div>
        <div
          style="
            display: flex;
            justify-content: space-between;
            gap: 20px;
            width: 100%;
          "
        >
          <div style="display: flex; flex-direction: column; width: 100%">
            <h4 class="text-danger">振动速度计算:</h4>
            <label>爆区位置输入</label>
            <input id="input-1-1" />
            <label class="mt-2">最大单响药量Q输入</label>
            <input id="input-1-2" />
            <label class="mt-2">距离R输入</label>
            <input id="input-1-3" />
            <label class="mt-2">振速V输出</label>
            <input disabled id="out-1-4" />
            <label class="text-warning mt-2">输出结果：</label>
            <p id="out-1-5"></p>
          </div>
          <div style="display: flex; flex-direction: column; width: 100%">
            <h4 class="text-danger">爆区距离计算:</h4>
            <label>爆区位置输入</label>
            <input id="input-2-1" />
            <label class="mt-2">最大单响药量Q输入</label>
            <input id="input-2-2" />
            <label class="mt-2">临界振速V输入</label>
            <input id="input-2-3" />
            <label class="mt-2">R输出</label>
            <input disabled id="out-2-4" />
            <label class="text-warning mt-2">输出结果：</label>
            <p id="out-2-5"></p>
          </div>
        </div>
      </div>
    </div>
    <div id="panel-2" style="display: none">
      <div class="row" style="gap: 30px">
        <img style="max-width: 60%" src="/static/image/img.png" />
        <table class="table-KA" style="flex: 1">
          <thead>
            <tr>
              <th>标号</th>
              <th>K值</th>
              <th>α值</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td id="t2-1-1"></td>
              <td id="t2-1-2"></td>
              <th id="t2-1-3"></th>
            </tr>
            <tr>
              <td>2</td>
              <td id="t2-2-1"></td>
              <td id="t2-2-2"></td>
              <th>
                <button
                  id="t2-2-3"
                  type="button"
                  class="btn btn-sm"
                  data-toggle="modal"
                  data-target="#myModal5"
                >
                  移除
                </button>
              </th>
            </tr>
            <tr>
              <td>3</td>
              <td id="t2-3-1"></td>
              <td id="t2-3-2"></td>
              <th>
                <button
                  id="t2-3-3"
                  type="button"
                  class="btn btn-sm"
                  data-toggle="modal"
                  data-target="#myModal5"
                >
                  移除
                </button>
              </th>
            </tr>
            <tr>
              <td>4</td>
              <td id="t2-4-1"></td>
              <td id="t2-4-2"></td>
              <th>
                <button
                  id="t2-4-3"
                  type="button"
                  class="btn btn-sm"
                  data-toggle="modal"
                  data-target="#myModal5"
                >
                  移除
                </button>
              </th>
            </tr>
            <tr>
              <td>5</td>
              <td id="t2-5-1"></td>
              <td id="t2-5-2"></td>
              <th>
                <button
                  id="t2-5-3"
                  type="button"
                  class="btn btn-sm"
                  data-toggle="modal"
                  data-target="#myModal5"
                >
                  移除
                </button>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
      <form
        action="{% url 'schema' %}?type=4-1"
        method="post"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <div style="display: flex; flex-direction: column; gap: 10px">
          <div class="row mt-3">
            <span>边坡系数：</span>
            <select id="filed2" name="filed2">
              <option value="1">1分区</option>
              <option value="2">2分区</option>
              <option value="3">3分区</option>
              <option value="4">4分区</option>
              <option value="5">5分区</option>
              <option value="6">6分区</option>
              <option value="7">7分区</option>
              <option value="8">8分区</option>
            </select>
          </div>
          <div class="row" style="align-items: center; gap: 10px">
            <span>参考输入：</span>
            <table class="table-KA" style="width: 100%">
              <thead>
                <tr>
                  <th>测振点位</th>
                  <th>单响药量/kg</th>
                  <th>爆心距/m</th>
                  <th>振动速度/(cm/s)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>
                    <input id="t3-1-1" name="t3-1-1" />
                  </td>
                  <td>
                    <input id="t3-1-2" name="t3-1-2" />
                  </td>
                  <td>
                    <input id="t3-1-3" name="t3-1-3" />
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>
                    <input id="t3-2-1" name="t3-2-1" />
                  </td>
                  <td>
                    <input id="t3-2-2" name="t3-2-2" />
                  </td>
                  <td>
                    <input id="t3-2-3" name="t3-2-3" />
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>
                    <input id="t3-3-1" name="t3-3-1" />
                  </td>
                  <td>
                    <input id="t3-3-2" name="t3-3-2" />
                  </td>
                  <td>
                    <input id="t3-3-3" name="t3-3-3" />
                  </td>
                </tr>
                <tr>
                  <td>4</td>
                  <td><input id="t3-4-1" name="t3-4-1" /></td>
                  <td><input id="t3-4-2" name="t3-4-2" /></td>
                  <td><input id="t3-4-3" name="t3-4-3" /></td>
                </tr>
                <tr>
                  <td>5</td>
                  <td><input id="t3-5-1" name="t3-5-1" /></td>
                  <td><input id="t3-5-2" name="t3-5-2" /></td>
                  <td><input id="t3-5-3" name="t3-5-3" /></td>
                </tr>
                <tr>
                  <td>6</td>
                  <td><input id="t3-6-1" name="t3-6-1" /></td>
                  <td><input id="t3-6-2" name="t3-6-2" /></td>
                  <td><input id="t3-6-3" name="t3-6-3" /></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div
            style="
              width: 100%;
              display: flex;
              justify-content: center;
              gap: 20px;
            "
          >
            <button
              style="width: 200px"
              type="submit"
              class="btn btn-sm btn-primary"
            >
              计算K α值
            </button>
            <button
              style="width: 200px"
              type="button"
              id="clear-button"
              class="btn btn-sm btn-primary"
            >
              清空数据
            </button>
          </div>
          <div class="row" style="align-items: center; gap: 10px">
            <span>结果输出：</span>
            <label style="margin-top: 10px" for="kComputedValue">K: </label>
            <span id="kComputedValue" id="kComputedValue"></span>
            <label style="margin-top: 10px" for="aComputedValue">α: </label>
            <span id="aComputedValue" id="aComputedValue"></span>
            <button
              type="button"
              class="btn btn-sm btn-primary"
              data-toggle="modal"
              data-target="#myModal4"
            >
              插入
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<button
  style="position: fixed; top: -100px"
  id="deleteButton"
  type="button"
  class="btn btn-sm btn-primary"
  data-toggle="modal"
  data-target="#myModal3"
>
  删除方案
</button>

<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <form
      action="{% url 'schema' %}?type=1-1"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="modal-content">
        <div class="modal-body">
          <label for="year">年：</label>
          <input type="text" id="year" name="year" class="form-control" />
          <label for="month">月：</label>
          <input type="text" id="month" name="month" class="form-control" />
          <label for="day">日：</label>
          <input type="text" id="day" name="day" class="form-control" />
          <label for="area">区域：</label>
          <input type="text" id="area" name="area" class="form-control" />
          <label for="plat">平台：</label>
          <input type="text" id="plat" name="plat" class="form-control" />
          <label for="well">钻井：</label>
          <input type="text" id="well" name="well" class="form-control" />
          <div class="form-group">
            <label for="pdf">方案PDF ：</label>
            <div class="custom-file">
              <input
                type="file"
                id="pdf"
                name="pdf"
                placeholder="请选中pdf文件"
                class="form-control"
                onchange="displayFileName(this)"
              />

              <label class="custom-file-label" for="pdf">选择文件</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            关闭
          </button>
          <button type="submit" class="btn btn-primary">提交</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div
  class="modal fade"
  id="myModal2"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <form
      action="{% url 'schema' %}?type=1-2"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="modal-content">
        <div class="modal-body">
          <input
            style="display: none"
            type="text"
            id="schemaName"
            name="schemaName"
            class="form-control"
          />
          <div class="form-group">
            <label for="img1-1">振动波形 ：</label>
            <div class="custom-file">
              <input
                type="file"
                id="img1-1"
                name="img1-1"
                placeholder="请选中图片文件"
                class="form-control"
                onchange="displayFileName(this)"
              />

              <label class="custom-file-label" for="img1-1">选择文件</label>
            </div>
          </div>
          <label for="velocity">振速(cm/s)：</label>
          <input
            type="text"
            id="velocity"
            name="velocity"
            class="form-control"
          />
          <div class="form-group">
            <label for="img2-1">损伤情况 ：</label>
            <div class="custom-file">
              <input
                type="file"
                id="img2-1"
                name="img2-1"
                placeholder="请选中图片文件"
                class="form-control"
                onchange="displayFileName(this)"
              />

              <label class="custom-file-label" for="img2-1">选择文件</label>
            </div>
          </div>
          <div class="form-group">
            <label for="img3-1">爆堆形状 ：</label>
            <div class="custom-file">
              <input
                type="file"
                id="img3-1"
                name="img3-1"
                placeholder="请选中图片文件"
                class="form-control"
                onchange="displayFileName(this)"
              />

              <label class="custom-file-label" for="img3-1">选择文件</label>
            </div>
          </div>
          <div class="form-group">
            <label for="img4-1">壁面情况 ：</label>
            <div class="custom-file">
              <input
                type="file"
                id="img4-1"
                name="img4-1"
                placeholder="请选中图片文件"
                class="form-control"
                onchange="displayFileName(this)"
              />

              <label class="custom-file-label" for="img4-1">选择文件</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            关闭
          </button>
          <button type="submit" class="btn btn-primary">提交</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div
  class="modal fade"
  id="myModal3"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <form
      action="{% url 'schema' %}?type=1-3"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="modal-content">
        <div class="modal-body">
          <label style="display: none" for="schemaName2">方案名：</label>
          <input
            style="display: none"
            type="text"
            id="schemaName2"
            name="schemaName2"
            class="form-control"
          />
          <div
            style="
              width: 300px;
              height: 200px;
              display: flex;
              justify-content: center;
              align-items: center;
            "
          >
            确认删除选中方案吗？
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            关闭
          </button>
          <button type="submit" class="btn btn-primary">确认</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div
  class="modal fade"
  id="myModal4"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <form
      action="{% url 'schema' %}?type=1-4"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="modal-content">
        <div class="modal-body">
          <label style="display: none" for="part">分区：</label>
          <input
            style="display: none"
            type="text"
            id="part"
            name="part"
            class="form-control"
          />
          <label style="display: none" for="match">是否拟合：</label>
          <input style="display: none" name="match" id="match" />
          <label style="display: none" for="KValue2">K：</label>
          <input
            style="display: none"
            type="text"
            id="KValue2"
            name="KValue2"
            class="form-control"
          />
          <label style="display: none" for="AValue2">A：</label>
          <input
            style="display: none"
            type="text"
            id="AValue2"
            name="AValue2"
            class="form-control"
          />
          <div
            style="
              width: 300px;
              height: 200px;
              display: flex;
              justify-content: center;
              align-items: center;
            "
          >
            确认插入此值？
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            关闭
          </button>
          <button type="submit" class="btn btn-primary">确认</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div
  class="modal fade"
  id="myModal5"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <form
      action="{% url 'schema' %}?type=1-5"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="modal-content">
        <div class="modal-body">
          <label style="display: none" for="part2">分区：</label>
          <input
            style="display: none"
            type="text"
            id="part2"
            name="part2"
            class="form-control"
          />
          <label style="display: none" for="KValue3">K：</label>
          <input
            style="display: none"
            type="text"
            id="KValue3"
            name="KValue3"
            class="form-control"
          />
          <label style="display: none" for="AValue3">A：</label>
          <input
            style="display: none"
            type="text"
            id="AValue3"
            name="AValue3"
            class="form-control"
          />
          <div
            style="
              width: 300px;
              height: 200px;
              display: flex;
              justify-content: center;
              align-items: center;
            "
          >
            确认删除此值？
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            关闭
          </button>
          <button type="submit" class="btn btn-primary">确认</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  var AValue = document.getElementById('AValue');
  var KValue = document.getElementById('KValue');
  var part = document.getElementById('part');
  var part2 = document.getElementById('part2');
  var AValue2 = document.getElementById('AValue2');
  var KValue2 = document.getElementById('KValue2');
  var AValue3 = document.getElementById('AValue3');
  var KValue3 = document.getElementById('KValue3');
  var input11 = document.getElementById('input-1-1');
  var input12 = document.getElementById('input-1-2');
  var input13 = document.getElementById('input-1-3');
  var out14 = document.getElementById('out-1-4');
  var out15 = document.getElementById('out-1-5');
  var input21 = document.getElementById('input-2-1');
  var input22 = document.getElementById('input-2-2');
  var input23 = document.getElementById('input-2-3');
  var out24 = document.getElementById('out-2-4');
  var out25 = document.getElementById('out-2-5');
  var deleteButton = document.getElementById('deleteButton')
  var schemaName2 = document.getElementById('schemaName2')
  var t21 = document.getElementById('t-2-1')
  var t22 = document.getElementById('t-2-2')
  var t23 = document.getElementById('t-2-3')
  var t24 = document.getElementById('t-2-4')

  var t31 = document.getElementById('t-3-1')
  var t32 = document.getElementById('t-3-2')
  var t33 = document.getElementById('t-3-3')
  var t34 = document.getElementById('t-3-4')

  var t41 = document.getElementById('t-4-1')
  var t42 = document.getElementById('t-4-2')
  var t43 = document.getElementById('t-4-3')
  var t44 = document.getElementById('t-4-4')

  var t51 = document.getElementById('t-5-1')
  var t52 = document.getElementById('t-5-2')
  var t53 = document.getElementById('t-5-3')
  var t54 = document.getElementById('t-5-4')

  t24.addEventListener('click', () => {
    if(t21.textContent && t22.textContent) {
      KValue.value = t21.textContent
      AValue.value = t22.textContent
      t24.parentElement.style.backgroundColor = 'teal'
      t34.parentElement.style.backgroundColor = ''
      t44.parentElement.style.backgroundColor = ''
      t54.parentElement.style.backgroundColor = ''
      input11.value = ''
      input12.value = ''
      input13.value = ''
      out14.value = ''
      out15.value = ''
      input21.value = ''
      input22.value = ''
      input23.value = ''
    }
  })
  t34.addEventListener('click', () => {
    if(t31.textContent && t32.textContent) {
      KValue.value = t31.textContent
      AValue.value = t32.textContent
      t24.parentElement.style.backgroundColor = ''
      t34.parentElement.style.backgroundColor = 'teal'
      t44.parentElement.style.backgroundColor = ''
      t54.parentElement.style.backgroundColor = ''
      input11.value = ''
      input12.value = ''
      input13.value = ''
      out14.value = ''
      out15.value = ''
      input21.value = ''
      input22.value = ''
      input23.value = ''
    }
  })
  t44.addEventListener('click', () => {
    if(t41.textContent && t22.textContent) {
      KValue.value = t41.textContent
      AValue.value = t42.textContent
      t24.parentElement.style.backgroundColor = ''
      t34.parentElement.style.backgroundColor = ''
      t44.parentElement.style.backgroundColor = 'teal'
      t54.parentElement.style.backgroundColor = ''
      input11.value = ''
      input12.value = ''
      input13.value = ''
      out14.value = ''
      out15.value = ''
      input21.value = ''
      input22.value = ''
      input23.value = ''
    }
  })
  t54.addEventListener('click', () => {
    if(t51.textContent && t22.textContent) {
      KValue.value = t51.textContent
      AValue.value = t52.textContent
      t24.parentElement.style.backgroundColor = ''
      t34.parentElement.style.backgroundColor = ''
      t44.parentElement.style.backgroundColor = ''
      t54.parentElement.style.backgroundColor = 'teal'
      input11.value = ''
      input12.value = ''
      input13.value = ''
      out14.value = ''
      out15.value = ''
      input21.value = ''
      input22.value = ''
      input23.value = ''
    }
  })

  var t221 = document.getElementById('t2-2-1')
  var t222 = document.getElementById('t2-2-2')
  var t223 = document.getElementById('t2-2-3')
  var t231 = document.getElementById('t2-3-1')
  var t232 = document.getElementById('t2-3-2')
  var t233 = document.getElementById('t2-3-3')
  var t241 = document.getElementById('t2-4-1')
  var t242 = document.getElementById('t2-4-2')
  var t243 = document.getElementById('t2-4-3')
  var t251 = document.getElementById('t2-5-1')
  var t252 = document.getElementById('t2-5-2')
  var t253 = document.getElementById('t2-5-3')

  var match = document.getElementById('match')



  filedSelect2 = document.getElementById('filed2')




  filedSelect = document.getElementById('filed')
  t23.addEventListener('click', (e) => {
    KValue3.value = t21.textContent
    AValue3.value = t22.textContent
  })
  t33.addEventListener('click', () => {
    KValue3.value = t31.textContent
    AValue3.value = t32.textContent
  })
  t43.addEventListener('click', () => {
    KValue3.value = t41.textContent
    AValue3.value = t42.textContent
  })
  t53.addEventListener('click', () => {
    KValue3.value = t51.textContent
    AValue3.value = t52.textContent
  })

  t223.addEventListener('click', (e) => {
    KValue3.value = t221.textContent
    AValue3.value = t222.textContent
  })
  t233.addEventListener('click', () => {
    KValue3.value = t231.textContent
    AValue3.value = t232.textContent
  })
  t243.addEventListener('click', () => {
    KValue3.value = t241.textContent
    AValue3.value = t242.textContent
  })
  t253.addEventListener('click', () => {
    KValue3.value = t251.textContent
    AValue3.value = t252.textContent
  })

  input11.addEventListener('change', change)
  input12.addEventListener('change', change)
  input13.addEventListener('change', change)
  input21.addEventListener('change', change)
  input22.addEventListener('change', change)
  input23.addEventListener('change', change)
  function change() {
      if(input12.value && input13.value) {
          out14.value = (Math.pow(Math.pow(input12.value, 1 / 3) / input13.value, AValue.value) * KValue.value).toFixed(2)
          out15.innerText = ''
          out15.innerText = input11.value + '平台的最大单响药量' + input12.value + 'KG的中深孔爆破方案距离爆区' + input13.value + 'm的' +
          '最大爆破振动速度预计为' + out14.value + 'cm/s，预裂爆破方案最大爆破振动速度预计为' + (Number(out14.value) * 0.4).toFixed(2) + 'cm/s至'
           + (Number(out14.value) * 0.6).toFixed(2) + 'cm/s之间'
      }
      if(input22.value && input23.value ) {
          out24.value = (Math.pow(input22.value, 1 / 3) / Math.pow(input23.value / KValue.value, 1 / AValue.value)).toFixed(2)
          var min = (Math.pow(input22.value, 1 / 3) / Math.pow(out24.value * 0.6 / KValue.value, AValue.value)).toFixed(2)
          var max = (Math.pow(input22.value, 1 / 3) / Math.pow(out24.value * 0.4 / KValue.value, AValue.value)).toFixed(2)
          out25.innerText = ''
          out25.innerText = input21.value + '平台的最大单响药量' + input22.value + 'KG的中深孔爆破方案，控制爆破振动速度在' + input23.value
           + 'cm/s的距离为' + out24.value + 'm，预裂爆破方案最大距离预计为' + min + 'm至' + max + 'm之间'
      }
  }

  var KAList = [
      {k: 102.47, a: 1.41},
      {k: 88.11, a: 1.37},
      {k: 128.09, a: 1.5},
      {k: 121.92, a: 1.5},
      {k: 86.41, a: 1.36},
      {k: 108.68, a: 1.48},
      {k: 87.46, a: 1.37},
      {k: 98.68, a: 1.43},
  ]
  const t11 = document.getElementById('t-1-1')
  const t12 = document.getElementById('t-1-2')
  const t211 = document.getElementById('t2-1-1')
  const t212 = document.getElementById('t2-1-2')
  var KA = {{ KA|safe }}
  KA.forEach(item => {
    const [part, v1, v2] = item.value.split('_')
    if(part === filedSelect.value) {
      if(!t21.textContent) {
        t21.textContent = v1
        t22.textContent = v2
      }
      else if(!t31.textContent) {
        t31.textContent = v1
        t32.textContent = v2
      }
      else if(!t41.textContent) {
        t41.textContent = v1
        t42.textContent = v2
      }
      else if(!t51.textContent) {
        t51.textContent = v1
        t52.textContent = v2
      }
    }
  })
  KA.forEach(item => {
    const [part, v1, v2] = item.value.split('_')
    if(item.match !== '1') return
    if(part === filedSelect2.value) {
      if(!t221.textContent) {
        t221.textContent = v1
        t222.textContent = v2
      }
      else if(!t231.textContent) {
        t231.textContent = v1
        t232.textContent = v2
      }
      else if(!t41.textContent) {
        t241.textContent = v1
        t242.textContent = v2
      }
      else if(!t51.textContent) {
        t251.textContent = v1
        t252.textContent = v2
      }
    }
  })



  KValue.value = KAList[0].k
  AValue.value = KAList[0].a
  t11.innerText = KAList[0].k
  t12.innerText = KAList[0].a
  t211.innerText = KAList[0].k
  t212.innerText = KAList[0].a
  KValue2.value = KAList[0].k
  AValue2.value = KAList[0].a
  KValue3.value = KAList[0].k
  AValue3.value = KAList[0].a

  KValue.addEventListener('change', () => {
    KValue2.value = KValue.value
  })
  AValue.addEventListener('change', () => {
    AValue2.value = AValue.value
  })

  part.value = filedSelect.value
  part2.value = filedSelect.value
  filedSelect.addEventListener('change', (e) => {



    t24.parentElement.style.backgroundColor = ''
    t34.parentElement.style.backgroundColor = ''
    t44.parentElement.style.backgroundColor = ''
    t54.parentElement.style.backgroundColor = ''



    part.value = e.target.value
    part2.value = e.target.value
    KValue.value = KAList[Number(e.target.value) - 1].k
    AValue.value = KAList[Number(e.target.value) - 1].a
    KValue2.value = KAList[Number(e.target.value) - 1].k
    AValue2.value = KAList[Number(e.target.value) - 1].a
    KValue3.value = KAList[Number(e.target.value) - 1].k
    AValue3.value = KAList[Number(e.target.value) - 1].a
    t11.innerText = KAList[Number(e.target.value) - 1].k
    t12.innerText = KAList[Number(e.target.value) - 1].a

    t21.textContent = ''
    t22.textContent = ''
    t31.textContent = ''
    t32.textContent = ''
    t41.textContent = ''
    t42.textContent = ''
    t51.textContent = ''
    t52.textContent = ''
    KA.forEach(item => {
    const [part, v1, v2] = item.value.split('_')
    if(part === filedSelect.value) {
      if(!t21.textContent) {
        t21.textContent = v1
        t22.textContent = v2
      }
      else if(!t31.textContent) {
        t31.textContent = v1
        t32.textContent = v2
      }
      else if(!t41.textContent) {
        t41.textContent = v1
        t42.textContent = v2
      }
      else if(!t51.textContent) {
        t51.textContent = v1
        t52.textContent = v2
      }
    }
    })
  })
  filedSelect2.addEventListener('change', (e) => {
    part.value = e.target.value
    part2.value = e.target.value
    KValue.value = KAList[Number(e.target.value) - 1].k
    AValue.value = KAList[Number(e.target.value) - 1].a
    KValue2.value = KAList[Number(e.target.value) - 1].k
    AValue2.value = KAList[Number(e.target.value) - 1].a
    KValue3.value = KAList[Number(e.target.value) - 1].k
    AValue3.value = KAList[Number(e.target.value) - 1].a
    t211.innerText = KAList[Number(e.target.value) - 1].k
    t212.innerText = KAList[Number(e.target.value) - 1].a

    t221.textContent = ''
    t222.textContent = ''
    t231.textContent = ''
    t232.textContent = ''
    t241.textContent = ''
    t242.textContent = ''
    t251.textContent = ''
    t252.textContent = ''
    KA.forEach(item => {
    const [part, v1, v2] = item.value.split('_')
    if(item.match !== '1') return
    if(part === filedSelect2.value) {
      if(!t221.textContent) {
        t221.textContent = v1
        t222.textContent = v2
      }
      else if(!t31.textContent) {
        t231.textContent = v1
        t232.textContent = v2
      }
      else if(!t41.textContent) {
        t241.textContent = v1
        t242.textContent = v2
      }
      else if(!t51.textContent) {
        t251.textContent = v1
        t252.textContent = v2
      }
    }
    })
  })





  var schemas = {{ schemas|safe }}
  var pdfPanel = document.getElementById('pdf-panel');
  var img = document.getElementById('effect-image');
  var img1 = document.getElementById('img1');
  var img2 = document.getElementById('img2');
  var img3 = document.getElementById('img3');
  var img4 = document.getElementById('img4');
  var panelTrigger1 = document.getElementById('panel-trigger-1');
  var panelTrigger2 = document.getElementById('panel-trigger-2');
  var panel1 = document.getElementById('panel-1');
  var panel2 = document.getElementById('panel-2');
  var modalButton = document.getElementById('modal-button-2');
  var schemaName = document.getElementById('schemaName');
  var v1DOM = document.getElementById('v-1')
  panelTrigger1.addEventListener('click', () => {
      localStorage.setItem('page', '1')
      panel1.style.display = 'block'
      panel2.style.display = 'none'
      img.style.display = 'none'
      pdfPanel.style.display = 'none'
  })
  panelTrigger2.addEventListener('click', () => {
      localStorage.setItem('page', '2')
      panel1.style.display = 'none'
      panel2.style.display = 'block'
      img.style.display = 'none'
      pdfPanel.style.display = 'none'
  })
  let data = []
  schemas.forEach(schema => {
      const [year, month, day, area, plat, well] = schema.schema_name.split(',')
      let yearNode = data.find(item => item.id === year+'年') || {id: year+'年', children: []}
      let monthNode = yearNode.children.find(item => item.id === month+'月') || {id: month+'月', children: []}
      const node = {
          id: day + '日' + area + plat + well + '钻井',
          schema: year + ',' + month + ',' + day+',' + area + ',' + plat + ',' + well,
          v1: schema.velocity,
          isLeaf: true, pdf: schema.pdf,
          img21: schema.img1,img22: schema.img2,img23: schema.img3,img24: schema.img4
      }
      monthNode.children = monthNode.children.concat(node)
      let oldMonthNode = yearNode.children.find(item => item.id === month+'月')
      if(!oldMonthNode) {
          yearNode.children = yearNode.children.concat(monthNode)
      } else {
          oldMonthNode = monthNode
      }
      let oldYearNode = data.find(item => item.id === year+'年')
      if(!oldYearNode) {
          data = data.concat(yearNode)
      } else {
          oldYearNode = yearNode
      }
  })

  function buildTree(parent, items) {
      const ul = document.createElement('ul');
      parent.appendChild(ul);
      items.forEach(item => {
          const li = document.createElement('li');
          li.textContent = item.id;
          ul.appendChild(li);
          if(item.isLeaf) {
              // 末端处理事件
              li.addEventListener('click', showPdf(item))
              li.style.textDecoration = 'underline'
              li.style.textUnderlineOffset = '0.3em'
              li.style.textDecorationThickness = '1px'
              const button = document.createElement('button');
              button.innerText = '删除'
              button.classList.add('btn')
              button.classList.add('btn-sm')
              button.classList.add('btn-primary')
              button.addEventListener('click', () => {
                deleteButton.click()
                schemaName2.value = item.schema
              })
              ul.style.display="flex"
              ul.style.alignItems="center"
              ul.style.gap="10px"
              ul.appendChild(button)
          } else {
              li.addEventListener('click', (e) => {
                  if(e.target.className === '') {
                      e.target.classList.add("closed");
                      if(e.target.childNodes[1]) {
                          e.target.childNodes[1].style.display = 'none'
                      }
                  } else {
                      e.target.classList.remove('closed')
                      if(e.target.childNodes[1]) {
                          e.target.childNodes[1].style.display = 'block'
                      }
                  }
                  e.preventDefault()
                  e.stopPropagation()
              })
          }

          if (item.children) {
              buildTree(li, item.children);
          }
      });
  }

  let clickTimer = null

  function showPdf(item) {
      const {schema, v1, pdf, img21, img22, img23, img24}  = item
      return function show() {
          if (!clickTimer) {
               clickTimer = setTimeout(function() {
                  // 单击事件处理逻辑
                  console.log("单击事件触发了");
                  clickTimer = null;
                  localStorage.setItem('page', '3')
                  img.style.display = 'none'
                  pdfPanel.style.display = 'block'
                  panel1.style.display = 'none'
                  panel2.style.display = 'none'
                  pdfPanel.src = window.location.origin +  pdf
              }, 250); // 设置计时器时间间隔，单位为毫秒
          } else {
              clearTimeout(clickTimer);
              console.log("双击事件触发了");
              clickTimer = null;

              schemaName.value = schema
              img1.src=img21
              img2.src=img22
              img3.src=img23
              img4.src=img24
              v1DOM.innerText = v1
              localStorage.setItem('page', '4')
              img.style.display = 'block'
              pdfPanel.style.display = 'none'
              panel1.style.display = 'none'
              panel2.style.display = 'none'
          }
      }
  }

  const tree = document.getElementById('tree-list');
  buildTree(tree, data);



  function displayFileName(input) {
      const fileName = input.files[0].name;
      const label = input.nextElementSibling;
      label.innerText = fileName;
  }

  t311 = document.getElementById('t3-1-1')
  t312 = document.getElementById('t3-1-2')
  t313 = document.getElementById('t3-1-3')
  t321 = document.getElementById('t3-2-1')
  t322 = document.getElementById('t3-2-2')
  t323 = document.getElementById('t3-2-3')
  t331 = document.getElementById('t3-3-1')
  t332 = document.getElementById('t3-3-2')
  t333 = document.getElementById('t3-3-3')
  t341 = document.getElementById('t3-4-1')
  t342 = document.getElementById('t3-4-2')
  t343 = document.getElementById('t3-4-3')
  t351 = document.getElementById('t3-5-1')
  t352 = document.getElementById('t3-5-2')
  t353 = document.getElementById('t3-5-3')
  t361 = document.getElementById('t3-6-1')
  t362 = document.getElementById('t3-6-2')
  t363 = document.getElementById('t3-6-3')



  kComputedValue = document.getElementById('kComputedValue')
  aComputedValue = document.getElementById('aComputedValue')
  var computed = {{ COM|safe }}
  if(window.location.search?.includes('type=4-1')) {
      panel1.style.display = 'none'
      panel2.style.display = 'block'
      img.style.display = 'none'
      pdfPanel.style.display = 'none'
      if(computed.filed2) {
        console.log(computed)
        filedSelect2.value = computed.filed2
        t311.value = computed.t311
        t312.value = computed.t312
        t313.value = computed.t313
        t321.value = computed.t321
        t322.value = computed.t322
        t323.value = computed.t323
        t331.value = computed.t331
        t332.value = computed.t332
        t333.value = computed.t333
        t341.value = computed.t341
        t342.value = computed.t342
        t343.value = computed.t343
        t351.value = computed.t351
        t352.value = computed.t352
        t353.value = computed.t353
        t361.value = computed.t361
        t362.value = computed.t362
        t363.value = computed.t363
        kComputedValue.innerText = Number(computed.k_fit).toFixed(2)
        aComputedValue.innerText = Number(computed.a_fit).toFixed(2)
        match.value = '1'
        part.value = filedSelect2.value
        KValue2.value = kComputedValue.innerText
        AValue2.value = aComputedValue.innerText
      }

  }

  var clearButton = document.getElementById('clear-button')
  clearButton.addEventListener('click', () => {
    t311.value = ''
    t312.value = ''
    t313.value = ''
    t321.value = ''
    t322.value = ''
    t323.value = ''
    t331.value = ''
    t332.value = ''
    t333.value = ''
    t341.value = ''
    t342.value = ''
    t343.value = ''
    t351.value = ''
    t352.value = ''
    t353.value = ''
    t361.value = ''
    t362.value = ''
    t363.value = ''
    kComputedValue.innerText = ''
    aComputedValue.innerText = ''
    match.value = ''
  })

  if(localStorage.getItem('page') === '1') {
    panel1.style.display = 'block'
    panel2.style.display = 'none'
    img.style.display = 'none'
    pdfPanel.style.display = 'none'
  } else if(localStorage.getItem('page') === '2') {
    panel1.style.display = 'none'
    panel2.style.display = 'block'
    img.style.display = 'none'
    pdfPanel.style.display = 'none'
  } else if(localStorage.getItem('page') === '3') {
    panel1.style.display = 'none'
    panel2.style.display = 'none'
    img.style.display = 'none'
    pdfPanel.style.display = 'block'
  } else if(localStorage.getItem('page') === '4') {
    panel1.style.display = 'none'
    panel2.style.display = 'none'
    img.style.display = 'block'
    pdfPanel.style.display = 'none'
  }
</script>

{% endblock %}
